/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// 
@import "bulma";

.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image{
       border-radius: 50%;
}

.main-image{
       height:940px;
       background-image: url(https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG4s8FnWSf5SBYhIKg2h0x1FPOvL9VQGnCTLeL6CDmr_BYLPfzw-DHDjkkm1H0gozrok7hhgjA5xclmwdCvO12ruDYzwuhx8S-XKmdAp8OKF46CDxv__7TPr8T-Xcz7nz386dz3tiMn01UscvrPNDJYSYrPKPDHwouPyhZxOkexQ8LY4vDcSf0H5VAT0vokOEAkRncwATal7OwiEJFgTRmSnALveA8JIXhRuaa_jG5tLWrEegO2_U8DRr73crHD4e5Q==/studio_01.jpg?errorImage=false);
       background-repeat: none;
       background-size: contain;
}


